# Dependency manifesto
# Database Connection & Drivers
psycopg2-binary==2.9.9

# Telegram Scraping (Assuming you are using Telethon)
telethon==1.35.0
pydantic==2.7.1
python-dotenv>=1.2

# dbt Core & Adapters
dbt-core==1.12.0-b3
dbt-postgres==1.10.2

# Data Processing & Inspection (Optional but highly recommended for data science tasks)
pandas==2.2.2
numpy==1.26.4